/*-----------------------------------GLOBAL STYLE---------------------------------*/
.raper{
    width: 100%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
}
/*-----------------------------------HEADER---------------------------------*/
.header{
    box-sizing: border-box;
    width: 100%;
    height: 845px;
    background-image: url(../img/bg.png);
    padding-top: 70px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.title{
    box-sizing: border-box;
    width: 960px;
    height: auto;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title_menu{
	position: relative;
}
.title_menu_block{
    width: 630px;
    display: flex;
    justify-content: space-between;
    position: relative;
    
}

.menu_punct{
    text-decoration: none;
    font-size: 24px;
    font-family: LeagueGothicRegular;
    color: #ffffff;
    text-shadow: 1px 2px 2px #000000;
}
.title_menu_mini{
    display: none;
    position: absolute;
	left: 50%;
	margin-left: -122px;
}

input[type=checkbox]{
    display: none;
	
}

.menu_mini_punct{
    height: 48px;
    width: 100%;
    text-align: center;
    display: block;
    font-family: LeagueGothicRegular;
    text-decoration: none;
    font-size: 24px;
    color: #ffffff;
    text-shadow: 1px 2px 2px #000000;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    
}
.menu_mini_punct:hover{
	border-bottom: 2px solid red;
	background-color: rgba(0, 0, 0, 0.9);
}
.menu_mini_punct a{
    color: #ffffff;
    text-decoration: none;
}

.header_plugin{
    margin-top: 170px;
    width: 100%;
    height: 400px;
    background: rgba(0,0,0, 0.2);
           
}
.plugin_body{
    width: 960px;
    height: 400px;
    margin: 160px auto;
    display: flex;
    align-items: center;
    position: relative;
        
}
.plugin_text_box{
    width: 500px;
    height: 235px;
    margin-right: 10px;
    margin-top: -10px;
    
}
.plugin_text_title{
	font-family: LeagueGothicRegular;
	font-size: 60px;
	color: #fff;
    font-weight: 300;
}
.plugin_text_subtitle{
    font-size: 32px;
    font-family: LeagueGothicRegular;
    color: #edbfff;
    margin-bottom: 10px;
}
.plugin_text{
    font-family: OpenSansRegular;
    color: #fefefe;
}
.plugin_pfone1{
    width: 130px;
    height: 268px;
    background-image: url(../img/plugin/pfone1.png);
    position: relative;
}
.plugin_pfone2{
    width: 195px;
    height: 369px;
    background-image: url(../img/plugin/phone2.png);
    position: absolute;
    top: -90px;
    left: 80px;
   
}


/*-----------------------------------MAIN---------------------------------*/
main{
    margin: 0px auto;
    width: 100%;
    height: auto;
}
/*-----------------------------------CONTENT-TOP---------------------------------*/
.content_top{
    margin: 0 auto;
    width: 100%;
    max-width: 2400px;
    height: 342px;
    background-image: linear-gradient(to top, #322539 0%, #745083 100%);
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
.content_top_container{
    width: 960px;
    height: 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.container_block{
    width: 280px;
    height: 190px;
    display: flex;
    
    
}
.container_block_sect1{
    width: 45px;
    height: 190px;
}
.sect1_pict1{
    width: 30px;
    height: 30px;
    background: url(../img/3-layers.png);
    
}
.sect1_pict2{
    width: 30px;
    height: 30px;
    background: url(../img/3-layers.png);
    background-position: 31px;
}
.sect1_pict3{
    width: 30px;
    height: 30px;
    background: url(../img/3-layers.png);
    background-position: ;
}
.container_block_sect2{
    width: 235px;
    height: 190px;
}
.sect2_content1{
    width: 100%;
    height: 30px;
    font-family: LeagueGothicRegular;
    color: #ffffff;
    font-size: 30px;
}
.sect2_content2{
    width: 100%;
    height: 130px;
	overflow: hidden;
    font-family: OpenSansRegular;
    color: #ffffff;
    font-size: 16px;
    padding-top: 8px;
    line-height: 1.5;
}
.sect2_content3{
    width: 100%;
    height: 30px;
    font-family: LeagueGothicRegular;
    color: #ffffff;
    font-size: 18px;
    text-align: right
}
.sect2_content3:hover{
    text-shadow: 0px 0px 8px #ffffff;
    
}


/*-----------------------------------CONTENT-CENTER--------------------------------*/
.content_center{
    width: 100%;
    height: auto;
    background: #f9f9f9;
}
.content_center_box1{
    width: 100%;
    height: 485px;
    background: #f9f9f9;
    border-bottom: 1px solid #fdfdfd;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1_container{
    width: 960px;
    height: 325px;
    display: flex;
    justify-content: space-between;
    
}
.box1_container_left{
    width: 45%;
    height: 325px;
    
}
.container_left_top{
    width: 100%;
    height: 290px;
    margin-left: 25px;
    position: relative;
    padding: 30px 20px 25px 30px;
    background: #ffffff;
}
.left_top_pict{
    position: absolute;
    left: -25px;
    top: 10px;
    
}
.left_top_title{
    color: #454545;
    font-size: 24px;
    margin-bottom: 25px;
    font-family: LeagueGothicRegular;
}
.left_top_text{
    font-size: 16px;
    font-family: LeagueGothicRegular;
}
.container_left_bottom{
    width: 100%;
    height: 30px;
}
.box1_container_rignt{
    width: 45%;
    height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
.container_rignt_title{
    font-family: LeagueGothicRegular;
    font-size: 30px;
}
.container_rignt_box{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: OpenSansRegular;
}
.rignt_box_img{
    margin-right: 10px;
}
.box_text_title{
    font-weight: 900;
    font-family: OpenSansRegular;
}
.container_rignt_link{
    font-family: LeagueGothicRegular;
    font-size: 18px;
    text-align: right;
}
.content_center_box2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center_box2_partner_box{
    display: flex;
    justify-content: space-between;
    width: 775px;
    
}
.partner_box_partner{
    width: 105px;
    height: 80px;
}
/*---------------------------------CONTENT-BOTTOM--------------------------------*/
.content_bottom{
    width: 100%;
    height: auto;
    background: #ececec;
    display: flex;
    align-items: center;
}
.content_bottom_box{
    margin: 70px auto;
    width: 960px;
    height: auto;
    display: flex;
    justify-content: space-between;
    
}
.bottom_box_content{
    width: 30%;
    height: 200px;
    
}
.box_content_title{
	color: #454545;
	font-size: 30px;
	margin-bottom: 10px;
	font-family: LeagueGothicRegular;
}
.box_content_text{
	height: 160px;
	color: #787878;
	font-size: 16px;
	overflow: hidden;
	font-family: OpenSansRegular;
	
	
}
/*---------------------------------FOOTER--------------------------------*/
footer{
    width: 100%;
    height: 110px;
    background-image: url(../img/footer.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
}
.footer_box{
    width: 960px;
    height: 20px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
.footer_menu{
    width: 530px;
    display: flex;
    justify-content: space-between;
}
.footer_menu_punkt{
    text-decoration: none;
    font-size: 20px;
    font-family: LeagueGothicRegular;
    color: #ffffff;
    text-shadow: 1px 2px 2px #000000;
}
.footer_text{
    font-family: OpenSansRegular;
    color: #fff;
    
}
.footer_text span{
    font-style: normal;
    font-weight: 800;
}
@media screen and (max-width: 975px){
    .title{
        flex-direction: column;
        align-items: flex-start;
        margin: 0px auto;
        width: 740px;
    }
    .title_logo{
        margin-bottom: 30px;
    }
    .plugin_body{
        width: 720px;
        margin: 0px auto;
    }
    .plugin_text_box{
        width: 255px;
        height: 190px;
        overflow: hidden;
    }
    .content_top_container{
        padding: 0px 5px;
        width: 740px;
    }
    .container_block{
        width: 215px;
    }
    .box1_container{
        width: 740px;
        
    }
    .content_bottom_box{
        width: 740px;
    }
    .footer_box{
        flex-direction: column;
        width: 740px;
    }
    .footer_text{
        align-self: flex-end;
        
    }
}
    
@media screen and (max-width: 768px){
    .title{
        flex-direction: column;
        align-items: center;
        width: 455px;
    }
    .title_logo{
        margin-bottom: 30px;
    }
	.plugin_body{
        width: 450px;
	}
	.plugin_text_box{
        width: 178px;
		
	}
	.plugin_text_title{
		font-size: 32px;
		height: 38px;
		overflow: hidden;
	}
	.plugin_text_subtitle{
		font-size: 18px;
		height: 18px;
		overflow: hidden;
	}
    .content_top_container{
        padding: 0px 5px;
        width: 450px;
		flex-direction: column;
    }
	.content_top{
        height: auto;
        
    }
    .container_block{
        width: 100%;
    }
    .container_block_sect2{
        width: auto;
    }
    .content_top_container{
        height: auto;
        margin: 50px auto;
    }
	.content_center{
		height: auto;
	}
	.content_center_box1{
		height: auto;
	}
	.box1_container{
		flex-direction: column;
		height: auto;
		margin: 20px auto;
		width: 450px;
	}
	.box1_container_left{
		width: 100%;
		overflow: hidden;
	}
	.box1_container_rignt{
		width: 100%;
	}
	.center_box2_partner_box{
		flex-wrap: wrap;
		width: 450px;	
		
	}
	.partner_box_partner{
		width: 30%;
	}
	.content_bottom_box{
		flex-direction: column;
		width: 450px;
		
	}
	.bottom_box_content{
		width: 100%;
		margin-bottom: 30px;
	}
	.footer_box{
		width: 450px;
		align-items: center;
	}
	.footer_menu{
		width: 440px;
	}
	.footer_text{
        align-self: center;
        
    }
    .title_menu_block{
        display: none;
    }
    .title_menu_mini{
        display: inline-block;
        overflow: hidden;
        z-index: 1000;
        border-radius: 10px;
        float: none;
        border: 1px solid;
        width: 245px;
        
    }
    
    .menu_mini_subitems{
        display: none;
        
    }
    input[type=checkbox]:checked ~ .menu_mini_subitems {
		display: block;
        
}
    
}
@media screen and (max-width: 495px){
	.title{
		width: 320px;
	}
	.plugin_body{
		width: 320px;
	}
	.plugin_pfone1{
		display: none;
	}
	.plugin_text_box{
		margin: 0px auto;
	}
	.plugin_text{
		display: none;
	}
	.content_top_container{
		width: 320;
	}
	.box1_container{
		width: 320;
	}
	.center_box2_partner_box{
		width: 320px;
		height: auto;
	}
	.footer_box_menu{
		display: none;
	}
}
